## Mortgage notebook

In [17]:
import pandas as pd
import numpy as np
import re

In [99]:
ww = pd.read_csv('data/mortgage.csv')

# # strip out the junk of the interest column
# ww['interest'] = ww['interest'].str.replace(r'Interest:', '')
# ww['interest'] = ww['interest'].str.replace(r'CM22;Simplii FI', '0')
# ww['interest'] = ww['interest'].str.replace(r'CM22;PC Financial', '0')
# ww['interest'] = ww['interest'].str.replace(r',', '')
# ww['interest'] = ww['interest'].str.replace(r' ', '')
# ww['interest'] = ww['interest'].fillna(0)
# ww['interest'] = ww['interest'].astype(float)

# # strip junk our of principal column
# ww['principal'] = ww['principal'].str.replace(r'$', '')
# ww['principal'] = ww['principal'].str.replace(r',', '')
# ww['principal'] = ww['principal'].astype(float)

# # reverse row order 
# ww = ww[::-1].reset_index(drop=True)
# ww['balance'] = 500000 -  ww['principal'].cumsum()

# # fill in type column - payment or extra
# ww.loc[ww['interest'] != 0, 'type'] = 'payment' 
# ww.loc[ww['interest'] == 0, 'type'] = 'extra'  

# ww.to_csv('data/mortgage_clean.csv')

In [102]:
ww

,date,type,principal,interest,prin%,prin_total,int%,int_total,balance
0,2015-12-01,extra,0.00,0.00,NaN,0.00,NaN,0.00,500000.00
1,2016-01-01,payment,1205.18,1032.16,0.5387,1205.18,0.4613,1032.16,498794.82
2,2016-02-01,payment,1207.67,1029.67,0.5398,2412.85,0.4602,2061.83,497587.15
3,2016-02-26,payment,558.74,472.52,0.5418,2971.59,0.4582,2534.35,497028.41
4,2016-03-11,payment,559.27,471.99,0.5423,3530.86,0.4577,3006.34,496469.14
...,...,...,...,...,...,...,...,...,...
175,2020-12-31,extra,2000.00,0.00,NaN,246288.00,NaN,48506.60,253712.00
176,2021-01-08,payment,827.88,203.38,0.8028,247115.88,0.1972,48709.98,252884.12
177,2021-01-22,payment,828.55,202.71,0.8034,247944.43,0.1966,48912.69,252055.57
178,2021-02-05,payment,829.21,202.05,0.8041,248773.64,0.1959,49114.74,251226.36
179,2021-02-05,extra,25000.00,0.00,NaN,273773.64,NaN,49114.74,226226.36

## Calculate metrics

In [101]:
# principal percentage and cumsum
ww['prin%'] = np.where(ww['type'] == 'payment', ww['principal'] / (ww['principal'] + ww['interest']), np.nan).round(4)
ww['prin_total'] = ww['principal'].cumsum()

# interest percentage and cumsum
ww['int%'] =np.where(ww['type'] == 'payment', ww['interest'] / (ww['principal'] + ww['interest']), np.nan).round(4)
ww['int_total'] = ww['interest'].cumsum()

# running balance
ww['balance'] = 500000 - ww['prin_total']

In [92]:
# total principal and extra payments
total_principal = ww.loc[ww['type'] == 'payment', 'principal'].sum()
total_extra = ww.loc[ww['type'] == 'extra', 'principal'].sum()
total_principal, total_extra

(89423.64, 184350.0)

In [97]:
ww['balance'] = 500000 - ww['prin_total']