## mortgage cleanup

In [1]:
import pandas as pd

In [5]:
ww = pd.read_csv('data/WWmortgage.csv')
ww

           date  type   principal            interest  balance
0    2021-02-05   NaN    $829.21               202.05      NaN
1    2021-01-22   NaN    $828.55     Interest: 202.71      NaN
2    2021-01-08   NaN    $827.88     Interest: 203.38      NaN
3    2020-12-31   NaN  $2,000.00                  NaN      NaN
4    2020-12-25   NaN    $825.62     Interest: 205.64      NaN
..          ...   ...         ...                 ...      ...
174  2016-03-11   NaN    $559.27     Interest: 471.99      NaN
175  2016-02-26   NaN    $558.74     Interest: 472.52      NaN
176  2016-02-01   NaN  $1,207.67   Interest: 1,029.67      NaN
177  2016-01-01   NaN  $1,205.18   Interest: 1,032.16      NaN
178  2015-12-01   NaN      $0.00                  NaN      NaN

[179 rows x 5 columns]