## test code for the stocks app

In [13]:
import pandas as pd
import numpy as np
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.techindicators import TechIndicators
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
import m4_parameters

# Your key here
key = m4_parameters.key
# Chose your output format, or default to JSON (python dict)
ts = TimeSeries(key, output_format='pandas', indexing_type='date')
ti = TechIndicators(key, output_format='pandas', indexing_type='date')

In [24]:
# Get the data, returns a tuple
# aapl_data is a pandas dataframe, aapl_meta_data is a dict
aapl_data, aapl_meta_data = ts.get_daily(symbol='AAPL', outputsize='compact')
# aapl_sma is a dict, aapl_meta_sma also a dict
aapl_sma, aapl_meta_sma = ti.get_sma(symbol='AAPL')

In [25]:
aapl_data

            1. open  2. high  3. low  4. close   5. volume
date
2021-02-24     9.22    9.635    9.13      9.54   9538284.0
2021-02-23     9.02    9.240    8.76      9.23   8024000.0
2021-02-22     8.76    9.310    8.73      9.06  17592300.0
2021-02-19     8.63    8.770    8.58      8.72   4804400.0
2021-02-18     8.77    8.850    8.60      8.62   5922800.0
...             ...      ...     ...       ...         ...
2020-10-07     5.06    5.170    5.01      5.15   5452600.0
2020-10-06     5.10    5.220    4.97      5.06   4859800.0
2020-10-05     4.95    5.040    4.78      5.00   3877400.0
2020-10-02     4.60    4.920    4.59      4.82   4957400.0
2020-10-01     5.06    5.090    4.76      4.85   7112300.0

[100 rows x 5 columns]

In [5]:
st = pd.read_csv('../data/stocks.csv')
st.head()

,date,ticker,name,type,number,price,total,currency,account
0,2019-07-10,MSFT,Microsoft,buy,752,136.21,102439.91,USD,207410
1,2019-09-12,MSFT,Microsoft,dividend,2,137.13,71.66,USD,207410
2,2019-11-19,KEY,Keyera,buy,914,33.80,30890.59,CAD,23W887
3,2019-12-12,MSFT,Microsoft,dividend,2,153.01,78.51,USD,207410
4,2019-12-16,MSFT,Microsoft,buy,7,151.62,1071.33,USD,207410